# look at app/config.py for details

RAG_PIPELINE=policy

QDRANT_URL=https://***.eu-central-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=YOUR_QDRANT_API_KEY_HERE
LIBRARY_COLLECTION_NAME=library-v1
EMBEDDING_DIM=256

GENERATION_API_URL=https://api.scaleway.ai/v1
GENERATION_MODEL_NAME=mistral-small-3.2-24b-instruct-2506

SCW_ACCESS_KEY=YOUR_SCALEWAY_ACCESS_KEY_HERE
SCW_SECRET_KEY=YOUR_SCALEWAY_SECRET_KEY_HERE

POSTGRES_URI=DIRECT_POSTGRESQL_URI_HERE

POLICY_COLLECTION_NAME=clusters-v1
K_POLICY_SEARCH=3
POLICY_EMBEDDING_MODEL=qwen3-embedding-8b
POLICY_EMBEDDING_DIM=4096
POLICY_CANDIDATE_COUNT=20
POLICY_MAX_RETAINED=10
POLICY_REFS_PER_DIRECTION=2
